*{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    text-transform: capitalize;
}
body{
    background-color: lightpink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    

}
h1{
    padding: 2%;
    background-color: darkmagenta;
}
button{
    background-color: red;
    padding:1% 5%;
    color: white;
    outline: none;
    border-radius: 10px;
}
.box{
    height: 200px;
    width: 200px;
    background-color: wheat;
    margin: 6px;
    border: 1px solid black;
    text-align: center;
}